.ido-card {
    max-width: 430px;
    margin: 10px;
    cursor: pointer;
}

.ido-card-avatar-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ido-card-name-box {
    display: flex;
    justify-content: start;
    align-items: center;
}

.ido-card-name_symbol {
    margin-left: 5px;
}

.ido-card-slider-box {
    margin: 30px 0 30px 0;
}

.no-wrap {
    white-space: nowrap;
}

.white {
    color: white;
}

.divider-line {
    border: none;
    margin-top: 10px;
    background: linear-gradient(rgb(108, 23, 159), rgb(142, 30, 113));
    height: 3px;
    border-radius: 10px;
}

.divider-text {
    margin-top: 0 !important;
}

.divider-text > .uik-divider__text {
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 20px;
    border-color: hsl(
            var(--bg--h),
            calc(var(--bg--s) - 15%),
            calc(var(--bg--l) - 25%)
    );
}

.invest-submit-btn {
    width: 100%;
    margin-top: 10px;
}

.all-box-container {
    display: flex;
    flex-direction: column;
}

.one-box-container {

}

.three-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid #a93185;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 20px 5px;
}

.box1 {
    flex-direction: row;
}

.box2 {
    flex-grow: 1;
}

.box3 {
    flex-grow: 1;
}

.box4 {
    flex-grow: 1;
}

.total-invested-text {
    margin-right: 5px;
}

.display-user-rate {
    margin-top: 15px;
}

.card-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-name-links-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-links-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-verified-box {
}

.card-token-name {
    margin-left: 5px;
}

.card-token-symbol {
    margin: 0 20px 0 5px;
}

.card-link {
    margin: 0 2px;
}

.softcap-not-met-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.softcap-not-met-text {
   margin-bottom: 10px;
}

