.admin-container {
    width: 100%;
    max-width: 70vw;
    margin: auto;
    position: relative;
    top: -2rem;
}

.admin-headline {
    text-align: center;
}

.delete-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon {
    max-width: 20px;
}

.upload-container {
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.csv-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.algin-top {
  align-items: flex-start;
}
.font20 {
  font-size: 20px;
}
.margin10 {
  margin-bottom: 10px;
}
.flex-column {
flex-direction: column;
}
.text-center {
  text-align: center;
}
.success-color {
  color: #34C57D;
}

.empty-image{
  height: 8rem;
  width: 8rem;
  background: #f4f5f8;
  padding: 6rem;
  border-radius: 100%;
  margin-bottom: 0.6rem;
  margin-right: 0.5rem;
  border: 1px solid #d9dfea;
}

.token-details-placeholder{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.text-sm{
  font-weight: lighter;
  font-size: small;
}

.token-details{
  display: flex;
}

.card-create-ido{
  display: flex; 
  padding: 2rem; 
  border: 2px solid #f4f5f8;
  border-radius: 1rem;
}

.project-details{
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: white;
  padding: 4px 10px;
  border-radius: 10px;
  z-index: 10;
  border: 2px solid #a93085;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}